# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Firebase service account and local secrets
firebase.json
Keys/
Admin-Dashboard/email_config.json

# Streamlit cache
.streamlit/

# Logs
Admin-Dashboard/logs/

# OS
.DS_Store

#Local Config
email_config.json
.env
